---
BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 80
BreakBeforeBinaryOperators: NonAssignment
PenaltyBreakAssignment: 6
BreakBeforeBraces: Attach
BreakStringLiterals: true
AllowShortBlocksOnASingleLine: Empty
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
